<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Otakulo</title>
</head>
<body>
  <div class="formulario">
    <form id="miFormulario">
      <input class="inputNombre" type="text" required id="nombre" placeholder="Nombre del anime" name="nombre"><br><br>
      <button class="botonNombre" type="submit">Enviar</button>  
    </form>
  </div>
  <div class="contenedorFlex">
    <div id="listItems" class="listItems">
      <div id="resultados"></div>
      <div id="navegacion"></div>
    </div>
    <div   class="informacion">
      <div id="informacion"  class="contenidoInfo scrollBar"></div>
    </div>
  </div>
  <script>
    const {ipcRenderer}= require('electron')
    ipcRenderer.on('dataServe',(event,{ progress, fileName, estado,titulo })=>{
      Swal.fire({
        title: titulo,
        html: `${fileName} <br> ${progress}`,
        allowOutsideClick:false,
        didOpen: () => {
          Swal.showLoading()
        },
        willClose: () => {
         
        }
      })
      if(!estado){
        Swal.close()
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Descarga exitosa',
            showConfirmButton: false,
            timer: 1500
          })
      } 
        
    })
  </script>
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script  src="js/index.js"></script>

</body>
</html>