body{
    padding: 0;
    margin: 0;
    background-color: rgb(22, 20, 41);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(32, 54, 71);
}
.episodeList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    min-height: 160px;
}
.episodio{
    position: relative;
    height: 150px;
    margin: 4px;
}
.episodio img{
    border-radius: 4px;
    height: 150px;
}
.episodio span{
    position: absolute;
    top: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    
    background-color: rgba(180, 79, 12, 0.623);
    left: 5px;
}
.ocultar{
    display: none;
}
.scrollBar::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    height: 8px;
}
.scrollBar::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(32, 54, 71);
}
.btnDescargar{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    padding-inline: 10px;
    padding-block: 4px;
    font-size: 25px;
    background-color: rgb(22, 81, 148);

}
.tagCap{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(156, 48, 80);
    border-radius: 4px;
    padding-block: 2px;
    padding-inline: 8px;
}
.botonesW button{
    background-color: transparent;
    border: none;
    margin-inline: 3px;
    padding: 0%;
}
.formulario{
    display: flex;
    z-index: 10;
    position: fixed;
    width: 100%;
    justify-content:space-between;   
    align-items: center;
    background: rgb(22,20,41);
    background: linear-gradient(0deg, rgba(22,20,41,1) 0%, rgba(22,20,41,1) 33%, rgba(23, 21, 43, 0.99) 56%, rgb(22, 24, 54) 100%);

}
#miFormulario{
    height: 40px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
   }
.showInfoResult{
    width: 60%;
}
.contEpi{    
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px) ;
    overflow-y: auto;
}
.inputNombre{
    padding: 3px;
    font-size: 20px;
    border-radius: 10px; 
    background-color: rgba(48, 47, 59, 0.61);
    border: 1px solid gray;
    outline: none;
    color: white;

    margin-inline: 10px;

}
.botonNombre{
    margin-inline: 10px;
    padding-block: 4px;
    color: white;
    padding-inline: 30px;
    background-color: rgb(28, 84, 121);
    font-size: 20px;
    border: none;
    outline: none;
}
.contenedorFlex{
    padding-top: 40px;
    display: flex;
    width: 99%;
}
.listItems{
    display: flex;
    flex-direction: column;
}
.col1{
    width: 25%;
}
.col2{
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 5px;
    display: flex;
}
.col3{
    display: flex;
    margin-left: 5px;

    justify-content: space-between;
}
.top{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; 
}
.top img{
    width: 100%;
    object-fit: cover;
}
.top p{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    word-wrap: break-word;
}
.top span{
    font-size: 30px;
    padding-inline: 10px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
.topAnimes{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.top3{
    width: 32%;
    border-radius: 20px;
    max-height: 150px;
}
.top3 p{
    height: 28%;
    bottom: -17px;
}
.top3 span{
    background-color: rgb(42, 207, 111);
}

.top6{
    width: 16%;
    border-radius: 20px;
    max-height: 150px;
}
.top6 p{
    height: 28%;
    bottom: -17px;
}
.top6 span{
    background-color: rgb(42, 207, 111);
}
.contentIndex{
    width: 99vw;
    background-color: rgb(255, 255, 255);
}
.informacion{
    flex: 1;
}
.top1{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    border-radius: 30px;
    overflow: hidden;
    height: 320px;
}
.top1 img{
    width: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra completamente el contenedor */
    
}
.top1 p{
    display: flex;
    position: absolute;
    text-align: center;
    bottom: -25px;
    font-size: 25px;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    word-wrap: break-word;
}
.top1 span{
    font-size: 30px;
    padding-inline: 10px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(255, 166, 0);
    color: white;
}


.contenidoInfo{
    height: calc(100% - 40px) ;
    position: fixed;
    overflow: auto;
}
.tagsBtn{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(98, 48, 156);
    border-radius: 4px;
    padding: 2px;
}
.watch{
    flex: 1;
}
.video{
    width: 100%;
}
.trendList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    overflow: hidden;   
}
#resultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    overflow: hidden;
}
#navegacion{
    margin-top: 10px;
    text-align: center;
}
.btnNav{
    margin-inline: 10px;
    padding-inline: 15px;
    padding-block: 4px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(236, 125, 50);
    color: white;
    border-radius: 3px;
    border: none;
}
.tarjetaBtn{
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
.item{
    width: 150px;
    padding: 5px;
    background-color: rgb(26, 23, 56);
    margin: 3px;
    border-radius: 10px;
}
.datos{
    margin-top: 10px ;
}
.item p {
    font-size: large;
    padding: 0;
    margin: 0;
    color: white;
}
.item img{
    height: 300px;
}
.contImg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
}
.tipo{
    border-radius: 10px;
    padding-block: 2px;
    padding-inline: 4px;
    color: white;
    background-color: rgb(185, 80, 31);
}
.estado{
    border-radius: 10px;
    padding-block: 2px;
    padding-inline: 4px;
    color: white;
    background-color: rgb(31, 85, 185);
}