body{
    padding: 0;
    margin: 0;
    background-color: rgb(22, 20, 41);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
}
body::-webkit-scrollbar-thumb{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(32, 54, 71);
}
.episodeList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    min-height: 160px;
}
.episodio{
    position: relative;
    height: 150px;
    margin: 4px;
}
.episodio img{
    border-radius: 4px;
    height: 150px;
}
.episodio span{
    position: absolute;
    top: 5px;
    padding-inline: 10px;
    border-radius: 5px;
    
    background-color: rgba(180, 79, 12, 0.623);
    left: 5px;
}
.ocultar{
    display: none;
}
.scrollBar::-webkit-scrollbar{
    background-color: transparent;
    width: 8px;
    height: 8px;
}
.scrollBar::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: rgb(32, 54, 71);
}
.btnDescargar{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    border-radius: 4px;
    padding-inline: 10px;
    padding-block: 4px;
    font-size: 25px;
    background-color: rgb(22, 81, 148);

}
.tagCap{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(156, 48, 80);
    border-radius: 4px;
    padding-block: 2px;
    padding-inline: 8px;
}
#miFormulario{
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    background: rgb(22,20,41);
    background: linear-gradient(0deg, rgba(22,20,41,1) 0%, rgba(22,20,41,1) 33%, rgba(23, 21, 43, 0.99) 56%, rgb(22, 24, 54) 100%);
}
.showInfoResult{
    width: 60%;
}
.contEpi{    
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px) ;
    overflow-y: auto;
}
.inputNombre{
    padding: 3px;
    font-size: 20px;
    border-radius: 10px; 
    background-color: rgba(48, 47, 59, 0.61);
    border: 1px solid gray;
    outline: none;
    color: white;

    margin-inline: 10px;

}
.botonNombre{
    margin-inline: 10px;
    padding-block: 4px;
    color: white;
    padding-inline: 30px;
    background-color: rgb(28, 84, 121);
    font-size: 20px;
    border: none;
    outline: none;
}
.contenedorFlex{
    padding-top: 40px;
    display: flex;
    width: 99%;
}
.listItems{
    display: flex;
    flex-direction: column;
}
.informacion{
    flex: 1;
}

.contenidoInfo{
    height: calc(100% - 40px) ;
    position: fixed;
    overflow: auto;
}
.tagsBtn{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(98, 48, 156);
    border-radius: 4px;
    padding: 2px;
}
.watch{
    flex: 1;
}
.video{
    width: 100%;
}

#resultados{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    overflow: hidden;
}
#navegacion{
    margin-top: 10px;
    text-align: center;
}
.btnNav{
    margin-inline: 10px;
    padding-inline: 15px;
    padding-block: 4px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(236, 125, 50);
    color: white;
    border-radius: 3px;
    border: none;
}
.tarjetaBtn{
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
.item{
    width: 150px;
    padding: 5px;
    background-color: rgb(26, 23, 56);
    margin: 3px;
    border-radius: 10px;
}
.datos{
    margin-top: 10px ;
}
.item p {
    font-size: large;
    padding: 0;
    margin: 0;
    color: white;
}
.item img{
    height: 300px;
}
.contImg{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
}
.tipo{
    border-radius: 10px;
    padding-block: 2px;
    padding-inline: 4px;
    color: white;
    background-color: rgb(185, 80, 31);
}
.estado{
    border-radius: 10px;
    padding-block: 2px;
    padding-inline: 4px;
    color: white;
    background-color: rgb(31, 85, 185);
}